.revenueCosts-container{
  display: flex;
  flex-direction: column;
}
.titleArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
}
.revenueCosts-title{
    text-align: center;
    font-family: 'Cinzel', serif;
}

.titleButton{
    padding-right: 1%;
    cursor: pointer;
}

.info{
    width: 60%;
    margin-left: 10%;
    /* margin: 0 auto; */
}

.content{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}


table {
    border-radius:4px;
    width:70%;
    margin-top: 10%;
    background-color: #34495E;
    border-collapse: collapse; 
    font-family: 'Cinzel', serif;
  }

  .tableHeader{
      color: #dd5;
      text-align:center;
      height: 70px;
  }
  .tableBody,
  .tableFooter{
      color: aliceblue;
  }

  .tableFooter{
      border-top: 2px solid #dd5;
      height: 50px;
      text-align: center;
  }
    
  .tableFooter_sum{
    text-align: end;
    padding-right: 1%;
  }

  tr {
    border: 1px solid transparent;
    z-index:7;
  }
  .tableBody_data {
    text-align:center;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }
  .highlight {
    padding:0;
    width:4px;
  }
  .highlight_div {
    width:4px;
    height:60px;
    border-radius:4px;
    background-color: #34495E;
    transition: all 0.2s ease-in-out;
  }
  .tableBody_field:hover {
   box-shadow: 0px 9px 4px -6px #dd5;
  }
  .tableBody_field:hover .tableBody_data{
    cursor:pointer;
    border-top: 1px solid #dd5;
    border-bottom: 1px solid #dd5;
  }
  

  .tableBody_field:hover .highlight .highlight_div {
    transform: scaleX(3);
  }
